---
import Layout from "@/layouts/Layout.astro"
import "@/styles/globals.css"
import { Image } from "astro:assets"
import ClneImage from "@/assets/images/clne/clne.jpg"
import BackNavigation from "@/components/backNavigation"
import { IoIosArrowForward } from "react-icons/io"
---

<Layout title="Clne - Bryan Van Winnendael">
  <div class="w-full h-full bg-primary sm:p-5 p-2">
    <div class="bg-secondary rounded-[24px]">
      <BackNavigation title="Clne" client:load />
      <div class="p-5 pt-5">
        <Image
          transition:name="clne"
          src={ClneImage}
          alt="Clne"
          class="w-full max-h-96 rounded-[24px] object-cover"
        />
        <div
          class="bg-secondary flex justify-between items-center rounded-tr-[24px] p-5 mt-[-70px] z-50 relative w-5/6"
        >
          <h1
            class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl text-primary"
          >
            Clne
          </h1>
          <p
            class="scroll-m-20 text-xl font-semibold tracking-tight text-muted-foreground"
          >
            2021
          </p>
        </div>
        <h4 class="scroll-m-20 text-xl font-semibold tracking-tight mt-2">
          Overview
        </h4>
        <p class="leading-7 text-primary">
          With Clne you can share your favorite moments in a form of a picture
          with your friends.
        </p>
        <h4 class="scroll-m-20 text-xl font-semibold tracking-tight mt-2">
          Problem
        </h4>
        <p class="leading-7 text-primary">
          I wanted to learn react and use a database so I decided to make a
          social media platform where you can share your favorite moments with
          your friends.
        </p>
        <h4 class="scroll-m-20 text-xl font-semibold tracking-tight mt-2">
          Built with
        </h4>
        <p class="leading-7 text-primary">
          Clne is built with react and firebase.
        </p>

        <div
          class="flex gap-5 bg-secondary shadow-md w-fit p-5 rounded-[24px] mt-5"
        >
          <div>
            <p class="leading-7 text-muted-foreground">Download</p>
            <a
              target="_blank"
              href="https://github.com/BryanVanWinnendael/Noted"
              class="w-full flex items-center text-blue-500 cursor-pointer"
            >
              Download <IoIosArrowForward />
            </a>
          </div>
          <div>
            <p class="leading-7 text-muted-foreground">Code</p>
            <a
              target="_blank"
              class="w-full flex items-center text-blue-500 cursor-pointer"
              href="https://github.com/BryanVanWinnendael/Noted"
            >
              View code <IoIosArrowForward />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
