---
import Canvas from "@/components/canvas"
import DialogButton from "@/components/canvas/dialogButton"
import ContactForm from "@/components/contactForm"
import { CVIcon } from "@/components/icons"
import ScratchToReveal from "@/components/scratchToReveal"
import VisitCarousel from "@/components/visitCarousel"
import Layout from "@/layouts/Layout.astro"
import { GitHubLogoIcon, LinkedInLogoIcon } from "@radix-ui/react-icons"
import { motion } from "framer-motion"
import { MailIcon } from "lucide-react"
---

<Layout title="Contact | Bryan Van Winnendael">
  <main>
    <motion.div
      client:load
      initial={{ opacity: 0, scale: 0.9 }}
      whileInView={{ opacity: 1, scale: 1 }}
      viewport={{ once: true, amount: 0.3 }}
      transition={{ duration: 0.5, delay: 0.2 }}
    >
      <h1 class="scroll-m-20 text-xl font-extrabold tracking-tight lg:text-2xl">
        Contact me
      </h1>
    </motion.div>

    <motion.div
      client:load
      initial={{ opacity: 0, scale: 0.9 }}
      whileInView={{ opacity: 1, scale: 1 }}
      viewport={{ once: true, amount: 0.3 }}
      transition={{ duration: 0.5, delay: 0.3 }}
    >
      <div class="flex flex-wrap gap-2 my-4">
        <a href="https://github.com/BryanVanWinnendael" target="_blank">
          <GitHubLogoIcon width={24} height={24} /></a
        >
        <a href="https://linkedin.com/in/bryanvanwinnendael" target="_blank">
          <LinkedInLogoIcon width={24} height={24} /></a
        >
        <a href="mailto:portfoliobryanvanwinnendael@gmail.com">
          <MailIcon width={24} height={24} /></a
        >
        <a href="cv.pdf" target="_blank"> <CVIcon width={26} height={26} /></a>
      </div>
    </motion.div>
    <ContactForm client:load />

    <motion.div
      client:load
      initial={{ opacity: 0, scale: 0.9 }}
      whileInView={{ opacity: 1, scale: 1 }}
      viewport={{ once: true, amount: 0.3 }}
      transition={{ duration: 0.5, delay: 0.4 }}
    >
      <div
        class="mb-1 w-fit rounded-md bg-muted px-1.5 py-1 text-muted-foreground text-xs mt-12"
      >
        Interactions
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 w-full h-full mt-2">
        <div
          class="relative col-span-3 min-h-fit rounded-lg border bg-background p-2 sm:col-span-1 flex flex-col gap-2"
        >
          <VisitCarousel client:load />
          <DialogButton client:load />
        </div>
        <div
          class="col-span-3 h-full rounded-lg border bg-background p-6 sm:col-span-2 flex justify-center items-center"
        >
          <ScratchToReveal client:load />
        </div>
      </div>
    </motion.div>
  </main>
</Layout>
