---
import Hero from "@/components/hero"
import Layout from "../layouts/Layout.astro"
import Projects from "@/components/projects"
import Experience from "@/components/experience"
import Education from "@/components/education"
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <Experience client:load />
    <Education client:load />
    <Projects client:load />
  </main>
</Layout>
