---
import Hero from "@/components/hero"
import Layout from "../layouts/Layout.astro"
import Projects from "@/components/projects"
import Map from "@/components/map"
import About from "@/components/about"
---

<Layout title="Home | Bryan Van Winnendael">
  <main>
    <Map client:load />
    <Hero />
    <About client:load />
    <Projects client:load />
  </main>
</Layout>
