---
import Hero from "@/components/hero"
import Layout from "../layouts/Layout.astro"
import Projects from "@/components/projects"
import Experience from "@/components/experience"
import Education from "@/components/education"
import About from "@/components/about"
---

<Layout title="Home | Bryan Van Winnendael">
  <main>
    <Hero />
    <About client:load />
    <!-- <Experience client:load />
    <Education client:load /> -->
    <Projects client:load />
  </main>
</Layout>
