@import "tailwindcss";

@theme {
  --color-black: #242424;
  --color-muted: rgba(36, 36, 36, 0.32);
}

.revealer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  transform-origin: center top;
  background-color: var(--color-black);
  pointer-events: none;
  z-index: 2;
}
