---
import Learning from "@/components/learning"
import ProjectsBento from "@/components/projectsBento"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Projects | Bryan Van Winnendael">
  <main class="flex flex-col gap-4">
    <h1 class="scroll-m-20 text-xl font-extrabold tracking-tight lg:text-2xl">
      My projects
    </h1>
    <ProjectsBento client:load />
    <div class="border rounded-lg p-4">
      <p>Want to see what I'm learning?</p>
      <Learning client:load />
    </div>
  </main>
</Layout>
