---
import ProjectsBento from "@/components/projectsBento"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Projects | Bryan Van Winnendael">
  <main>
    <ProjectsBento client:load />
  </main>
</Layout>
