---
import { CSharpIcon, DotNetIcon } from "@/components/icons"
import { Button } from "@/components/ui/button"
import Layout from "@/layouts/Layout.astro"

import MinesweeperImage from "@/assets/images/minesweeper/minesweeper.webp"
import MinesweeperImage1 from "@/assets/images/minesweeper/minesweeper1.webp"
import BackButton from "@/components/backButton"
import { Github, Globe } from "lucide-react"
---

<Layout title="MineSweeper | Bryan Van Winnendael">
  <main>
    <div class="w-full mb-2">
      <BackButton client:load />
    </div>
    <img
      transition:name="minesweeper"
      class="w-full h-full rounded-lg"
      src={MinesweeperImage.src}
    />
  </main>
  <h1 class="text-4xl font-extrabold tracking-tight lg:text-5xl text-left mt-2">
    MineSweeper
  </h1>
  <div class="my-2 flex gap-2 flex-wrap">
    <div class="flex gap-2 border w-fit rounded-lg px-2 py-1 items-center">
      <CSharpIcon width={16} height={16} /> C#
    </div>
    <div class="flex gap-2 border w-fit rounded-lg px-2 py-1 items-center">
      <DotNetIcon width={24} height={24} /> .NET
    </div>
    <div class="flex gap-2 border w-fit rounded-lg px-2 py-1 items-center">
      WPF
    </div>
  </div>
  <p class="flex gap-2 items-center dark:text-gray-600 text-gray-400 mt-2">
    Play Minesweeper on windows.
  </p>
  <div class="flex gap-2 mt-2">
    <a
      href="https://github.com/BryanVanWinnendael/ucll/tree/main/minesweeper"
      target="_blank"
    >
      <Button
        className="bg-blue-500 text-white font-semibold hover:bg-blue-500/90 flex items-center justify-center gap-2"
      >
        <Globe size={16} />
        Download
      </Button>
    </a>
    <a
      href="https://github.com/BryanVanWinnendael/ucll/tree/main/minesweeper"
      target="_blank"
    >
      <Button
        variant="outline"
        className="font-semibold size-fit flex items-center justify-center gap-2"
        ><Github size={16} />Source
      </Button>
    </a>
  </div>
  <div class="mt-4 flex flex-col gap-4">
    <div>
      <h2
        class="scroll-m-20 pb-2 text-3xl font-semibold tracking-tight first:mt-0"
      >
        Overview
      </h2>
      <p>For a course I had to create a minesweeper game in C#.</p>
    </div>
    <div>
      <h2
        class="scroll-m-20 pb-2 text-3xl font-semibold tracking-tight first:mt-0"
      >
        Problem
      </h2>
      <p>
        I had to create a minesweeper game in C# for a course. This includes
        custom mine probability, custom grid size, quick start (using premade
        settings) and music/sound effects.
      </p>
    </div>
    <div>
      <h2
        class="scroll-m-20 pb-2 text-3xl font-semibold tracking-tight first:mt-0"
      >
        Built with
      </h2>
      <p>MineSweeper is built with C#, WPF and .Net.</p>
    </div>
    <div>
      <h2
        class="scroll-m-20 pb-2 text-3xl font-semibold tracking-tight first:mt-0"
      >
        Screenshots
      </h2>
      <div class="grid lg:grid-cols-2 gap-2">
        <img
          class="rounded-lg"
          src={MinesweeperImage1.src}
          alt="Noted screenshot"
        />
      </div>
    </div>
  </div>
</Layout>
