#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b8af8e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b8af8e;
}

.App {
  max-width: 700px;
  width: 100%;
}

.jump{
  animation: jump 0.3s linear;
}


@keyframes jump {
  0%{
    top: 248px;
  }
  30%{
    top: 228px;
  }
  50%{
    top: 178px;
  }
  80%{
    top: 228px;
  }
  100%{
    top: 248px;
  }
}


@keyframes movecactus{
  0%{
    left: 575px;
  }
  100%{
    left: -20px;
  }
}