/* override fullpagejs */

:root {
  --full-color: #26282b;
}

.dark-theme {
  --full-color: white;
}

#fp-nav ul li .fp-tooltip {
  color: black !important;
}

#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li a span {
  background-color: var(--full-color);
  background: var(--full-color) !important;
}

@media (max-width: 800px) {
  #nav {
    display: none;
  }
}
